.toast-item {
    list-style: none;
    overflow: auto;
}

.toast-container {
    position: fixed;
    width: 100%;
    z-index: 1080;
}

.toast-container > ul > li div.alert-success.visible-icon:before {
    content: "\e084";
}

.toast-container > ul > li div.alert-danger.visible-icon:before {
    content: "\e083";
}

.toast-container > ul > li div.alert-warning.visible-icon:before {
    content: "\e101";
}

.toast-container > ul > li div.alert-info.visible-icon:before {
    content: "\e086";
}

.toast-container.top {
    margin-top: 20px;
    top: 0;
    bottom: auto;
}

.toast-container.bottom {
    margin-bottom: 20px;
    top: auto;
    bottom: 0;
}

.toast-container.bottom > ul {
    bottom: 0;
    padding: 0;
    margin: 0;
}

.toast-container.bottom > ul > li div.alert {
    margin-bottom: 0;
    margin-top: 10px;
}

.toast-container.top > ul > li div.alert {
    margin-bottom: 10px;
    margin-top: 0;
}

.toast-container.right > ul {
    right: 0;
    margin-right: 20px;
}

.toast-container.left > ul {
    left: 0;
    margin-left: 20px;
    padding: 0;
}

.toast-container > ul {
    position: absolute;
    width: 400px;
}

.toast-container.full {
    margin: 0;
}

.toast-container.full > ul {
    width: 100%;
    padding: 0 !important;
}

.toast-container.full > ul > li div.alert {
    padding: 10px 20px;
    margin: 0;
}

.toast-container.full > ul > li div.alert:before {
    margin: 0 !important;
}

.toast-container.full > ul > li div.alert .toast-content {
    text-align: center;
}

.toast-container.full > ul > li div.alert .toast-message {
    display: inline-block !important;
}

.toast-container > ul > li div.alert {
    opacity: 0.8;
}

.toast-container > ul > li div.alert:hover {
    opacity: 1;
}

.toast-content {
    margin-left: 35px;
}

.toast-container > ul > li div.alert.visible-icon:before {
    margin-top: 3px;
    font-size: 25px;
    position: absolute;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.ce-clickable {
    cursor: pointer;
}

@-webkit-keyframes bar-slide {
    100% {
        width: 0%;
    }

    0% {
        width: 100%;
    }
}

.bar-timer {
    margin: 15px 0 0 0;
    height: 10px;
}

.bar-inner {
    -webkit-animation-name: bar-slide;
    -moz-animation-name: bar-slide;
    -ms-animation-name: bar-slide;
    -o-animation-name: bar-slide;
    animation-name: bar-slide;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}